:root{
    --dark: #000000;
    --blue: #270082;
    --purple: #D474F1;
    --pink: #FA58B6;
    --gray: #333333;
    --white: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--purple);
    color: var(--dark);
    font-family: ‘Encode Sans’, sans-serif;
    margin: 20px;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--gray);
    margin-bottom: 10px;
    padding: 10px;
    margin: 0;
}
header a {
    float: right;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding-top: 15px;
}
header h1 {
    font-size: 32px;
    font-weight: 300;
    color: var(--white);
}
nav li{
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}
section {
    padding: 10px;
}
a:hover {
    color: var(--pink);
}
h1 {
    font-family: ‘Poppins’, sans-serif;
    font-size: 48px;
}
.avatar {
    font-size: 60px;
    font-weight: bold;
}
.wrapper{
    display: grid;
    gap: 20px;
    grid-template-rows: 200px 200px ;
    grid-template-columns: 1fr 1fr;
    grid-area: “pj1 pj2”
               “pj3 pj4";
}
#project-one{
    grid-area: “pj1”;
    background-image: url(“../images/02-portfolio-1.jpg”);
}
#project-two{
    grid-area: “pj2”;
    background-image: url(“../images/02-portfolio-2.jpg”);
}
#project-three{
    grid-area: “pj3”;
    background-image: url(“../images/02-portfolio-3.jpg”);
}
#project-four{
    grid-area: “pj4”;
    background-image: url(“../images/02-portfolio-4.jpg”);
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
        font-size: 30px;
    }
}
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    h1 {
        font-size: 30px;
    }
    header a {
        font-size: 10px;
    }
}
@media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {
    h1 {
        font-size: 30px;
    }
  }
  /* this is how I do media queries - seems to be working! */
  /* so, below 768px (ipad size) the font sizes change! */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    header a {
        font-size: 10px;
    }
}