:root {
  --primary: #C2E5FF;
  --darker: #034c83;
  --secondary: #FF85B4;
  --bright: #FFE2AD;
  --black: #02040F;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Encode Sans", sans-serif;
}

body {
  background-color: var(--primary);
  color: var(--black);
  font-family: "Encode Sans", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--darker);
  margin-bottom: 10px;
  padding: 10px;
  margin: 0;
}

header a {
  float: right;
  color: var(--white);
  text-decoration: none;
  margin-right: 10px;
  padding-top: 15px;
}

header h1 {
  font-size: 32px;
  font-weight: 300;
  color: var(--white);
}

nav li {
  list-style-type: none;
  display: inline;
  padding-left: 10px;
}

section {
  padding: 10px;
}

a:hover {
  color: var(--secondary);
}

h1 {
  font-family: "Encode Sans", sans-serif;
  font-size: 48px;
}
.avatar, h1 {
  font-size: 20px;
  color: var(--darker);
}

.pic {
  float: left;
  width: 100px;
  padding: 10px 20px;
  border-radius: 100%;
}

#projects, h2{
    padding: 20px 20px 20px 20px;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "pj1 pj1"
    "pj2 pj3";
}

#project-one {
  grid-area: pj1;
  background-image: url("../images/02-portfolio-1.jpg");
}

#project-two {
  grid-area: pj2;
  background-image: url("../images/02-portfolio-2.jpg");
}
#project-three {
  grid-area: pj3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#contact {
  text-align: center;
  padding: 5px;
  background-color: var(--darker);
  color: var(--white);
  padding: 10px;
}

#contact i{
  color: var(--white);
  padding-top: 30px;
}

#contact i:hover{
  color: var(--secondary);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: 30px;
  }
  header a {
    font-size: 10px;
  }
}
@media (min-device-width: 800px) and (max-device-width: 1280px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  header a {
    font-size: 10px;
  }
}
