:root {
  --primary: #FEFCF3;
  --darker: #F5EBE0;
  --secondary: #F0DBDB;
  --bright: #DBA39A;
  --text: #35240e;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Encode Sans", sans-serif;
}

body {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--bright);
  margin-bottom: 10px;
  padding: 10px;
  margin: 0;
}

header a {
  float: right;
  color: var(--white);
  text-decoration: none;
  margin-right: 10px;
  padding-top: 15px;
}

header h1 {
  font-size: 32px;
  font-weight: 300;
  color: var(--white);
}

nav li {
  list-style-type: none;
  display: inline;
  padding-left: 10px;
}

main {
  color: var(--text);
  font-family: "Encode Sans", sans-serif;
  z-index: 10;
}

section {
  padding: 10px;
}

a:hover {
  color: var(--secondary);
}

h1 {
  font-family: "Encode Sans", sans-serif;
  font-size: 48px;
}

.avatar,
h1 {
  font-size: 20px;
  color: var(--text);
}

.flex{
  display: grid;
  grid-template-columns: 25% 70%;
  align-items: center;
  
}

.pic {
  width: 60%;
  padding: 20px;
  border-radius: 100%;
}

#projects,
h2 {
  padding: 20px 0px 20px 20px;
  text-decoration: none;
}

.wrapper {
  display: grid;
  gap: 1em;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "pj1 pj2"
    "pj1 pj3";
}

.card{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 6px 10px 17px 0px #bc5c39;
}

.card:hover {
  box-shadow: 6px 10px 17px 0px #42281E;
}

#project-one {
  grid-area: pj1;
  background-image: url("../images/02-portfolio-1.jpg");
}
#project-two {
  grid-area: pj2;
  background-image: url("../images/02-portfolio-2.jpg");
}
#project-three {
  grid-area: pj3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#contact {
  text-align: center;
  padding: 5px;
  background-color: var(--bright);
  color: var(--text);
  padding: 10px;
}

#contact p{
  padding-bottom: 20px;
}

#contact i {
  color: var(--text);
  padding: 5px;
}

#contact i:hover {
  color: var(--secondary);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: 30px;
  }
  header a {
    font-size: 10px;
  }
}
@media (min-device-width: 800px) and (max-device-width: 1280px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  header a {
    font-size: 10px;
  }
}
